body {
    background-image: url("file:///Users/eliza/Desktop/hi.png");
}

h1 {
    color:rgb(225, 197, 239);
    font-family: sans-serif;
}

#fun {
    background-color: blanchedalmond;
}

.fun-text {
    font-size: 100px;
}